.main-login{
  position: relative;
  height:235px;
  width:380px;
  border: 2px solid #777;
  margin: 0 auto;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-radius: 15px;
}

.main-login-content{
  padding-top: 10px;
  margin: 0 auto;
  height:200px;
  width:220px;
}

.main-login-table{
  margin: 0 auto;
  margin-top: 20px;
}

.forgot-pass{
  text-decoration: none;
  font-size: 13px;
}
.main-login-top{
  position:absolute;
  height:50px;
  width:450px;
  top:0px;
  left:25px;
  border-bottom: 2px solid #663;
}
