{% extends "user_home_base.html" %}

{% block dash %}
    <h4>Add New Book to Library</h4><br/>
    <form action="/admin/add/book" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" name="title" placeholder="Title">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="author">Author</label>
            <div class="controls">
                <input type="text" name="author" placeholder="Author">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="isbn">ISBN</label>
            <div class="controls">
                <input type="text" name="isbn" placeholder="ISBN (optional)">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="desc">Description</label>
            <div class="controls">
                <input type="text" name="desc" placeholder="Description (optional)">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="brandprice">Brand New Price</label>
            <div class="controls">
                <input type="text" name="brandprice" placeholder="Brand New Price">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sk">Search Keys</label>
            <div class="controls">
                <input type="text" name="sk" placeholder="Search keys (comma separated)">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sk">Image</label>
            <div class="controls">
                <input type="file" name="img">
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Update" style="margin-left:320px">
    </form>
{% endblock %}