{% extends "user_home_base.html" %}

{% block admin_nav %}
<li class="" id="li_aids">
<a href="#admin" onclick="showAdmin()"><i class="icon-eye-open"></i> Admin</a></li>
<ul id="uladmin" class="hidden">
    <li><a href="/admin/post" onclick="showNewBlog()">Blog Post</a></li>
    <li><a href="/admin/newitem" onclick="showNewItem()">New Item</a></li>
    <li><a href="/admin/addbook" onclick="showAddBook()">Add Book to Library</a></li>
    <li><a href="/admin/update" onclick="showUpdateRequest()">Update Request</a></li>
    <li><a href="/admin/view_users" onclick="showViewUser()">View All Users</a></li>
    <li><a href="/admin/all_requests" onclick="showUserRequest()">View All Requests</a></li>
    <li><a href="/admin/all_rtc" onclick="showAllRTC()">View Req to Consign</a></li>
</ul>
{% endblock %}