{% extends "base.html" %}
{% import "macros.html" as macro %}

{% block login %}
    {% if user: %}
        {{ macro.top_welcome(user) }}
    {% else: %}
        {{ macro.top_login() }}
    {% endif %}
{% endblock %}
{% block script_src%}
    <script src="/static/js/custom/book_info.js"></script>
    <script src="/static/js/bootstrap/datepicker.js"></script>
{% endblock%}
{% block other_css %}<link type="text/css" rel="stylesheet" href="/static/css/datepicker.css" />{% endblock %}
{% block jscript%}
    $("[id^=stats-]").hide();
    window.sortBy="posted";
    window.offset=0;
    activate('desc');
    function onload(){
        requestSellers('posted');
        getStats();
        moreInfo();
    }
    window.onload = onload();
    $("#err-container").removeClass();
{% endblock %}
{% block content %}
    <input type="hidden" value="{{book.key().id()}}" id="bid">
    <div class="span12">
    	<div style=";margin-top:10px;height:180px;width:920px;" class="row">
            <div class="pull-left" >
            {% if book.images.get(): %}
                <img src="/image/{{book.images.get().key().id()}}.{{book.images.get().ftype}}" class="info-img img-rounded" alt="{{book.title}}"/>
            {% else:%}
                <div class="result-img"><div style="height:55px;"></div>
                <label class="label label-success" alt="no image available" title="No image available" style="text-align:center;"/>No image<br/>available</label></div>
            {% endif %}
            </div>
            <div class="span5" >
                {% if user.admin: %}{{ adminBookInfo() }}
                {% else:%}
                <h3><small>Book Information</small></h3>
                <table class="table table-bordered table-condensed">
                    <tr><td style="width:55px">Title</td><td>{{book.getTitle()}}</td></tr>
                    <tr><td>Author</td><td>{{book.author}}</td></tr>
                    <tr><td>ISBN</td><td>{%if book.isbn%}{{book.isbn}}{%else%}No Data{%endif%}</td></tr>
                    {% if book.description%}<tr><td></td><td>{{book.description}}</td></tr>{%endif%}
                    <tr class="hidden" name="info"></tr>
                </table>
                {% endif%}
            </div>
            <div class="span" style="width:165px">
                <div id="book-stats" style="display:none">
                    <h3><small>Book Statistics</small></h3>
                    <table class="table table-condensed">
                        <tr><td style="width:70px">Available</td>
                            <td>{{stats["listed"]}}</td></tr>
                        <tr><td>Total Sold</td>
                            <td>{{stats["totalSold"]}}</td></tr>
                        <tr><td>Ave Price</td>
                            <td>{{stats["avePrice"]}}</td></tr>
                        <tr><td>New Price</td>
                            <td><span id="xbook-new-price">{{stats["newPrice"]}}</span>
                                <input type="text" id="xinput-new-price" name="new_price" class="input-mini" placeholder="Price" {% if stats['newPrice']!='No Data'%}value="{{stats['newPrice']}}"{%endif%} style="display:none">
                            </td></tr>
                        <tr><td></td><td></td></tr>
                    </table>
                </div>
                {% if user.admin %}</form>{% endif %}
            </div>
            <div id="mini-nav" class="well span3 pull-right" style="padding:8px 0;width:160px;margin-top:25px;margin-right:20px">
                <ul class="nav nav-list">
                    <li><a href="/book/consign?book={{book.key().id()}}"><i class="icon-book" id="icon-sell-book"></i>Consign (Sell)</a></li>
                    <li><a href="/book/request?book={{book.key().id()}}"><i class="icon-shopping-cart" id="icon-sell-book"></i>Request Copy</a></li>
                    <!--<li><a href="#how-to-buy" data-toggle="modal"><i class="icon-question-sign"></i>How to Buy?</a></li>-->
                </ul>
            </div>
        </div>
        <div class="row">
    	<div class="span7">
    		<h3>Copies of this book for sale</h3>
            <div style="position:relative;" id="sorting-nav">
                <div style="margin-left:185px;position:absolute">
                    <h2><small>Sort by</small></h2>
                </div>
                <span class="hidden" id="loading" style="position:absolute;right:13px;top:7px">
                    <i class="request-loading"></i>
                </span><img title="Error in fetching listings" src="/static/images/error.gif" class="hidden" id="load-error" style="position:absolute;right:13px;top:7px;width:18px">
                <div class="offset3" >{# upper nav #}
                <ul class="nav nav-tabs">
                    <li id="li-sort-posted"><a href="javascript:void(0)"onclick="requestSellers('posted')">Date</a></li>
                    <li id="li-sort-rating"><a href="javascript:void(0)"onclick="requestSellers('rating')">Rating</a></li>
                    <li id="li-sort-price"><a href="javascript:void(0)" onclick="requestSellers('price')">Price</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="li-sort-asc"><a href="javascript:void(0)" onclick="reorder('asc')">Ascending</a></li>
                            <li id="li-sort-desc" ><a href="javascript:void(0)" onclick="reorder('desc')">Descending</a></li>    
                        </ul>
                </ul>
                </div>
            </div>
            <div style="width:360px;margin-left:90px" id="no-results" class="hidden">
                <h2><small>No one is selling this item as of the moment</small></h2>
                <a href="/book/request?book={{book.key().id()}}">Click here to request</a> a copy of this book
                <br/><a href="/book/consign?book={{book.key().id()}}">Click here to sell</a> a copy of this book
            </div>
            <div style="display:table;" id="sellers-list">
            </div>
            <div id="results-nav">
                <div>
                    <center><h3><small id="display-info">Showing 0-0 of 0</small></h3></center>
                </div>
                <div class="pagination pagination-centered" >
                    <ul id="pagination">
                        <li><a href="javascript:void(0)">«</a></li>
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                        <li><a href="javascript:void(0)">»</a></li>
                    </ul>
                </div>
            </div>
    	</div>
        {% if user.admin%}
        <div class="span well" style="width:160px;margin-left:180px;padding:8px 0 " id="admin-mini-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Admin Nav</li>
                <li><a href="javascript:void(0)" id="" onclick="adminEditInfo()">
                    <i class="icon-pencil"></i>Edit Information</a></li>
                <li ><a href="javascript:void(0)" id="" onclick="addConsignee()">
                    <i class="icon-plus-sign" ></i>Add Consignee</a></li>
                <li ><a href="javascript:void(0)" id="" onclick="adminAddImage()">
                    <i class="icon-picture" ></i>Add Image</a></li>
                <li ><a href="javascript:void(0)" id="" onclick="">
                    <i class="icon-time" ></i>View History</a></li>
                <li ><a href="javascript:void(0)" id="" onclick="rbook()">
                    <i class="icon-remove-sign" ></i>Remove</a></li>
            </ul>
        </div>
        {% endif %}
        </div>
	</div>
    <div class="modal hide fade" id="how-to-buy">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>How to Buy</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
    <div class="modal hide fade" id="modal-order-details">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Details</h3>
            <i class="request-loading" id="loading-details" style="display:none;margin:-22px 0 0 110px;float:left;"></i>
        </div>
        <div class="modal-body">
            <div id="order-details" class="span">
            </div>
            <div class="span">
                <form id="buy-form" class="form-horizontal">
                    <div class="control-group">
                    <label class="control-label" for="isbn"> Date Needed</label>
                    <div class="controls">
                            <input class="input-medium datepicker" type="text" id="date-picker" 
                             name="needed" data-date-format="dd/mm/yyyy" value="{{data_date}}">
                        <span id="invalid-date" class="label label-warning" style="display:none">Invalid Date</span>
                    </div>
                    <input type="hidden" id="cid">
                    <input type="hidden" id="bid">
                </div>
                </form>
                <span style="margin-left:215px;" id="buy-confirm">
                    <button onclick="buyConsigned()" id="btn-buy" class="btn btn-success">Buy this copy!</button>
                    <i class="request-loading" id="buy-loading" style="display:none;"></i>
                </span>
            </div>
            <div class="span">
            <span id="buy-ok" class="hidden">
                <h4>Your Request has been posted!</h4>
                Please wait for an admin to contact you (thrus SMS) regarding this transaction. You could also email us at admin@ebenta.com.ph
                <br/><br/><h3>Transaction/Reference ID: <span id="transaction-id"></span></h3>
            </span>
            <span id="buy-not-ok" class="hidden">
                <h4>Failed to post request!</h4>
                An error has occured. Try refreshing and try again. If problem persists, contact administrators at admin@ebenta.com.ph
            </span>
            </div>
            <div id="images-div" class="span">
            </div>
        </div>
        <div class="modal-footer">
            {%if user.admin%}<button type="button" class="btn btn-danger">Remove</button>{%endif%}
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
    {% if user.admin %}
    <div class="modal hide fade" id="admin-control">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Admin Control</h3>
        </div>
        <div class="modal-body" style="min-height:150px">
            <div id="addImage" style="display:none">
                <h3>Upload Image</h3>
                <form action="/admin/book/update/upload-image" method="post" enctype="multipart/form-data">
                    <input type="file" name="img1" id="img-upload" onchange="adminAddImage(2)"/>
                    <br/><input type="submit" id="upload-img" value="Upload Image" name="upload-img" class="btn btn-success" style="display:none">
                    <input type="hidden" name="bid" value="{{book.key().id()}}">
                </form>
            </div>
            <div id="add-consignee" style="display:none">
                <h3>Add Consignee to '{{book.title}}'</h3>
                <br/>
                <div class="span5">
                    <div class="row" id="div-query">
                        <h4>Search User</h4>
                    <div class="span"><input type="text" id="user-query" placeholder="Username, Name, or Email"></div>
                    <div class="btn-group span">
                        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">Search
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick='searchUsername()'>Username</a></li>
                            {#<li><a href="#" >Name</a></li>#}
                            <li><a href="#" onclick='searchEmail()'>Email</a></li>
                        </ul>
                    </div> 
                    <form action="/" method="post" class="form-inline">
                    <span class="hidden" id="search-loading" style="margin-left:20px">
                        <i class="request-loading"></i>
                    </span>
                    <img src="/static/images/error.gif" style="display:none" id="search-error">
                    </div>
                </form>
                </div>
                <div class="span5" id="add-consign" style="display:none">
                <form action="/admin/add/consigned" method="post" enctype="multipart/form-data">
                    <input type="text" placeholder="Username" class="input-medium" id="dis-uname" disabled>
                    <div class="input-prepend">
                        <span class="add-on">Php</span><input type="text" name="ask-price" placeholder="Ask Price" class="input-mini"> 
                    </div>
                    <div class="input-prepend">
                        <span class="add-on">Php</span><input type="text" name="price" placeholder="Sell Price" class="input-mini">
                    </div>
                    <input type="text" name="rating" placeholder="Rating" class="input-mini">
                    <br/><textarea name="desc" style="width:200px;height:60px;" placeholder="Description"></textarea>
                    <br/><input type="file" name="img">
                    <br/><input type="submit" id="add-consignee" value="Add Consigned Copy" class="btn btn-success">
                    <input type="hidden" name="bid" value="{{book.key().id()}}">
                    <input type="hidden" name="uname">
                    <input type="hidden" name="adder" value="{{user.username}}">
                </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
    {% endif %}

{% endblock %}


{% macro getDesc(rating) %}
{%if rating==1%}
    We advice that you find other alternatives
{%elif rating==2%}
    Some pages torn<br/>not well maintained
{%elif rating==3%}
    More than 1 year used<br/>Some edges torn
{%elif rating==4%}
    Taken good care<br/>No torn pages/edges<br/>Has never been wet<br/>Well maintained
{%elif rating==5%}
    Brand new quality<br/>Less than 2 months used
{%endif%}
{% endmacro %}

{% macro getDescTitle(rating) %}
{%if rating==1%}
    Abused
{%elif rating==2%}
    Poor
{%elif rating==3%}
    Average
{%elif rating==4%}
    Slightly Used
{%elif rating==5%}
    Good as New
{%endif%}
{% endmacro %}

{% macro adminBookInfo() %}
    <h3><small>Book Information</small></h3>
    <form action="/admin/book/info/update" method="post">
    <table class="table table-bordered table-condensed">
        <tr><td style="width:55px">Title</td>
            <td><span id="xbook-title">{{book.title}}</span>
                <input type="text" id="xinput-title" name="new_title" value="{{book.title}}" placeholder="Title" style="display:none">
            </td></tr>
        <tr><td style="width:55px">Edition</td>
            <td><span id="xbook-title">{{book.edition}}</span>
                <input type="text" id="xinput-edition" name="new_edition" value="{{book.edition}}" placeholder="Edition in integer format" style="display:none">
            </td></tr>
        <tr><td>Author</td>
            <td><span id="xbook-author">{{book.author}}</span>
                <input type="text" id="xinput-author" name="new_author" value="{{book.author}}" placeholder="Author" style="display:none">
            </td></tr>
        <tr><td>ISBN</td>
            <td><span id="xbook-isbn">{%if book.isbn%}{{book.isbn}}{%else%}No Data{%endif%}</span>
                <input type="text" id="xinput-isbn" name="new_isbn" value="{{book.isbn}}" placeholder="ISBN" style="display:none">
            </td></tr>
        <tr>
            <td>Description</td><td><span id="xbook-desc">{{book.description}}</span>
                <textarea id="xinput-desc" name="new_desc" style="display:none">{{book.desc}}</textarea>
            </td></tr>
        <tr>
            <td>Search keys</td><td>{% set skeys = ", ".join(book.searchKeys) %}
                <span id="xbook-skeys">{{skeys}}</span>
                <div id="xinput-skeys" style="display:none">
                    <textarea  name="skeys" >{{skeys}}</textarea>
                    <br/><font color="blue">Search keys are comma separated</font>
                </div>
            </td></tr>
    </table>
    <input type="hidden" name="bid" value="{{book.key().id()}}">
    <input id="xinput-submit" type="submit" name="update-info" value="Update Info" class="btn btn-success pull-right" style="display:none">
{% endmacro %}