{% extends "base.html" %}
{% import "macros.html" as macro %}

{% block login %}
    {% if user: %}
        {{ macro.top_welcome(user) }}
    {% else: %}
        {{macro.top_login()}}
    {% endif %}
{% endblock %}

{% block content%}
  {{showBrowseNav()}}
  <div class="span8" id="browsed-title"><h2><a href="javascript:void(0)"><img src="/static/images/list_icon.png" style="margin-top:-5px" title="Show Navigation" id="imgHide" onclick="showNav()" class="hidden"/></a> Showing {{ showing(q) }}</h2> </div>
  <div class="span8 well" id="browsed-div">
    {% for i in range(lenS): %}
      <div class="browsed">
        <div class="row-fluid">
          {# show image#}
          <span class="browsed-img"><a href="/info?book={{show[i].key().id()}}" class="book-image">{{macro.getImage(show[i])}}</a></span>
          <div class="browsed-info">{# show book information #}
            <table>
            <tr><td class="tdmarg"><img src="/static/images/title.png" title="Book Title" class="icon16px"></td>
            <td><a href="javascript:void(0)" class="link" rel="popover" onclick="openBookPage({{show[i].key().id()}})" data-content="<b>Author: </b><font color='#049cdb'>{{show[i].author}}</font><br/><div style='margin-top:5px;'>{{getDescription(show[i])}}</div>" data-original-title="{{show[i].title}}">{{modTitle(show[i].title)}}</a></td></tr>
            <tr><td><img src="/static/images/author.png" title="Author" class="icon16px"></td><td>{{show[i].author}}</td></tr>
            </table>
          </div>{# show book stats #}
          <span class="browsed-stats">
            <span title="Buying"><i class="icon-shopping-cart"></i>  {{info[i][0]}}</span>
            <span title="Selling"><i class="icon-book"></i> {{info[i][1]}}</span>
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
  
{% endblock %}

{% macro getDescription(desc) %}
  {% if desc.description %}{{description}}{%else%}No description available{%endif%}
{% endmacro%}

{% macro advanceSearch() %}
  <div id="search-title" class="span4"><h2>Advance Search</h2></div>
  <div class="span8 well" id="advance-search">
    <form action="<search_action>" method="post" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls"> <input type="text" placeholder="Title" id="title"> </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="author">Author</label>
        <div class="controls"> <input type="text" placeholder="Author" id="author"> </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="subject">Subject</label>
        <div class="controls">  <input type="text" placeholder="Subject" id="subject"> </div>
      </div>
      <div class="control-group">
      </div>
    </form>
  </div>  
{% endmacro %}

{% macro modTitle(title)%}
  {% if title[28]: %}{{title[:25]}}...{% else %}{{title}}{%endif%}
{% endmacro %}

{% macro showBrowseNav() %}
  <div id="browseNav" class="">
  <div class="span3 well" style="padding:8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Book<span class="pull-right"><a href="javascript:void(0)" onclick="hideNav()">hide</a></span></li>
        <li class="active"><a href="javascript:void(0)" onclick="">All</a></li>
        {#<li class="nav-header">Subjects</li>
        <li class><a href="javascript:void(0)" onclick="">Mathematics</a></li>
        <li class><a href="javascript:void(0)" onclick="">Science</a></li>
        <li class><a href="javascript:void(0)" onclick="">English</a></li>
        <li class><a href="javascript:void(0)" onclick="">Philisophy</a></li>#}
        <li class="divider"></li>
        <li class><a href="javascript:void(0)" onclick="">Advance Search</a></li>
      </ul>
  </div>
  </div>
{% endmacro %}

{% macro showing(q) %}
    {% if q=='lib':%}all books in library
    {% elif q=='buy':%}all books that are for sale
    {% elif q=='sell':%}all books with buy orders
    {% endif %}
{% endmacro %}
