{% extends "base.html" %}
{% import "macros.html" as macro %}
{% block login %}
    {{ macro.top_welcome(user) }}
{% endblock %}

{% block content %}
    <div class="row">
    	<div id="admin-nav" class="span3 well" style="padding:8px 0px;">
    		<ul class="nav nav-list">
                <li class="nav-header">User</li>

                <li><a href="javascript:void(0)" onclick=""><i class=""></i> </a></li>
                
                <li class="nav-header"></li>
                
                <li class="divider"></li>
                
            </ul>
    	</div>
    </div>
{% endblock %}