{% extends "base.html" %}
{% import "macros.html" as macro %}

{% block login %}
    {{ macro.top_login() }}
{% endblock %}
{% block script_src %}<script src="/static/js/custom/homepage.js"></script>
{% endblock %}

{% block content %}
<center>
<div id="top-banner" style="margin: auto 0">
    <a href="/"><img class="" style="width:930px;height:280px;margin: 25px 0" src="/static/images/transparent.png" alt="ebenta logo"></a>
</div>
<div id="home-search" style="width:540px;display:none;text-align:left">
    {{macro.ebentaSearch()}}
</div>
<div id="info" class="row" style="margin-top:30px;">
    <div style="position:absolute;right:16%;margin-top:-25px">
        <a href="#" onmouseover="homeShowSearch()">Looking for something? Search!</a></div>
    <div class="row span4" >
        <div class="span" id="info-icon">
            <i class="icon29-book-open"></i>
        </div>
        <div class="" style="width:240px;margin-left:55;text-align:justify;text-justify:inter-word">
            <h3>Purchase</h3>
            Purchase used or brand new quality books with ease! Why buy new when you can have the same quality for less! Learn more about <a href="">purchasing books.</a>
        </div>
    </div>
    <div class="span4">
        <div class="span" id="info-icon">
            <i class="icon29-credit"></i>
        </div>
        <div style="width:240px;margin-left:55;text-align:justify;text-justify:inter-word">
            <h3>Consign</h3>
            Sell those dusting books on your shelves! Or better yet, let us sell it for you! Consign all of your textbooks for free! Learn more about <a href="">consigning.</a>

        </div>
    </div>
    <div class="span4">
        <div class="span" id="info-icon">
            <i class="icon29-rabbit"></i>
        </div>
        <div style="width:240px;margin-left:55;text-align:justify;text-justify:inter-word">
            <h3>Fast and Easy</h3>
            We at ebenta understand how frustrating it is to wait in long queues or follow up on purchases. That is why we do those dirty stuffs for you. <a href="/register/">Register now for free!</a>   
        </div>
    </div>
</div>
<center>
{% endblock %}

