{% extends "base.html" %}
{% import "macros.html" as macro %}

{% block login %}
    {% if me: %}
        {{ macro.top_welcome(me) }}
    {% else: %}
        {{macro.top_login()}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if fail: %}{{userDoesNotExist()}}
    {% elif user : %}
        {% if msg:%}
            {{msg}}
        {% elif passErr: %}
            {{passErr}}
        {% endif %}
        {% if user == me: %}
            {{showMyProfile(user)}}
        {% elif me: %}
            {{showProfileAsUser(user,me)}}
        {% else%}
            {{showProfileAsGuest(user)}}
       {% endif %}
    {% endif %}
{% endblock %}

{% block script_src %}<script src="/static/js/custom/user_profile.js">{% endblock%}

{% macro showMyProfile(user) %}
    <div class="row">
        {{showMyNav()}}
        <div class="span7 well">
            <div class="hidden" id="settings-updated" style="width:190px;margin:5px auto;">
                <button class="close" data-dismiss="alert">x</button>
                <label id="req-ok"></label>
            </div>
            <div class="hidden" id="settings-not-updated" style="width:190px;margin:5px auto;">
                <button class="close" data-dismiss="alert">x</button>
                <label id="req-error"></label>
            </div>
            <!--User profile div-->
            <div id="profile-info" class="row" >
                <ul class="thumbnails span2">
                    <li><div class="thumbnail" style="margin:0 15px;width:110px;height:">
                        <a class="thumbnail"><img src="{{user.getImage()}}" id="profile-pic"></a>
                    </div></li>
                </ul>
                <div class="span5" style="padding:0 14px;">
                    <form action="/user/update" method="post">
                    <h3>{{showUserIcon(user)}} {{user.username}}'s Profile</h3>
                    <table class="table table-condensed" style="margin-top:20px;">
                    <tr><td>Username</td>
                        <td style="width:180px;">{{user.username}}</td><td></tr>
                    <tr><td>Name</td>
                        <td>
                            <div id="form-name" class="hidden">
                                <input type="text" class="input-medium" placeholder="First Name" name="first" id="name-first" value="{{user.firstName.title()}}" onchange="change('name')">
                                <input type="text" class="input-medium" placeholder="Last Name" name="last" id="name-last" value="{{user.lastName.title()}}" onchange="change('name')">
                            </div>
                            <span id="user-name">{{user.completeName().title()}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeName()" id="href-name"><i class="icon-wrench"></i>
                            <span id="edit-name"> edit</span></a>
                        </td></tr>
                    <tr><td>Contact No</td>
                        <td><div id="form-num" class="hidden">
                            <input type="text" class="input-medium" placeholder="Contact Number" name="contact" id="input-num" value="{{user.contactNum}}" onchange="change('num')"></div>
                            <span id="user-num">{{user.contactNum}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeNum()" id="href-num"><i class="icon-wrench"></i>
                                <span id="edit-num"> edit</span></a>
                        </td></tr>
                    <tr><td>Email</td>
                        <td><div id="form-email" class="hidden">
                                <input type="text" class="input-medium" placeholder="Email" name="email" id="input-email" value="{{user.email}}" onchange="change('email')">
                            </div>
                            <span id="user-email">{{user.email}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeEmail()" id="href-email"><i class="icon-wrench"></i>
                            <span id="edit-email"> edit</span></a>
                        </td></tr>        
                    <tr><td>College</td>
                        <td><div id="form-college" class="hidden">
                                <input type="text" class="input-medium" placeholder="College" name="college" id="input-college" value="{{user.college}}" onchange="change('college')">
                            </div>
                            <span id="user-college">{{user.college}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeCollege()" id="href-college"><label><i class="icon-wrench"></i>
                            <span id="edit-college"> edit</span></label></a>
                        </td></tr>
                    <tr><td>Degree</td>
                        <td><div id="form-degree" class="hidden">
                                <input type="text" class="input-medium" placeholder="Degree Course" name="degree" id="input-degree" value="{{user.degree}}" onchange="change('degree')">
                            </div>
                            <span id="user-degree">{{user.degree}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeDegree()" id="href-degree"><label><i class="icon-wrench"></i>
                            <span id="edit-degree"> edit</span></label></a>
                        </td></tr>
                    <tr><td style="width:125px">Member Since</td>
                        <td>{{user.joined}}</td><td></tr>
                    </table>
                    <button type="button" class="btn btn-success pull-right hidden" id="update-profile-submit" onclick="updateProfile()">Update Profile</button>
                    <input type="hidden" id="change-name" value="False">
                    <input type="hidden" id="change-num" value="False">
                    <input type="hidden" id="change-email" value="False">
                    <input type="hidden" id="change-college" value="False">
                    <input type="hidden" id="change-degree" value="False">
                    </form>
                </div>
            </div>
            <!--Privacy settings div-->
            <div id="privacy-settings" class="hidden">
                <form action="/user/update" method="post">                
                <div><h3>Privacy Settings <small>Who can view my</small></h3>
                <div class="span6">
                <table class="table table-condensed span5" style="margin-top:20px;">
                    <tr><td style="width:170px;">Contact Information</td>
                        <td style="width:165px;">
                            <div id="form-privacy-contact" class="hidden">
                                <select name="privacy-contact" style="width:105px">
                                    <option{%if user.privacy.showContact=='admin'%} selected{%endif%} value="admin">Admin Only</option>
                                    <option{%if user.privacy.showContact=='user'%} selected{%endif%} value="user">Other Users</option>
                                    <option{%if user.privacy.showContact=='guest'%} selected{%endif%} value="guest">Everyone</option>
                                </select>
                            </div>
                            <span id="user-privacy-contact">{{whoCanView(user.privacy.showContact)}}</span></td>
                        <td><a href="javascript:void(0)" id="href-contact2" onclick="changePrivacyContact()"><label><i class="icon-wrench"></i>
                            <span id="edit-privacy-contact"> edit</span></label></a>
                        </td></tr>
                    <tr><td style="width:170px;">College and Degree</td>
                        <td style="width:165px;">
                            <div id="form-privacy-college" class="hidden">
                                <select name="privacy-college" style="width:105px">
                                    <option{%if user.privacy.showCollege=='admin'%} selected{%endif%} value="admin">Admin Only</option>
                                    <option{%if user.privacy.showCollege=='user'%} selected{%endif%} value="user">Other Users</option>
                                    <option{%if user.privacy.showCollege=='guest'%} selected{%endif%} value="guest">Everyone</option>
                                </select>
                            </div>
                            <span id="user-privacy-college">{{whoCanView(user.privacy.showCollege)}}</span></td>
                        <td><a href="javascript:void(0)" id="href-college2" onclick="changePrivacyCollege()"><label><i class="icon-wrench"></i>
                            <span id="edit-privacy-college"> edit</span></label></a>
                        </td></tr>
                </table></div></div>

                <div><h3>Security</h3>
                <div class="span6">
                <table class="table table-condensed span5" style="margin-top:20px;">
                    <tr><td style="width:170px;">Password</td>
                        <td style="width:165px;">
                            <div id="form-change-password" class="hidden">
                                <input type="password" class="input-medium" placeholder="Old Password" id="old">
                                <input type="password" class="input-medium" placeholder="New Password" id="new">
                                <input type="password" class="input-medium" placeholder="Re-type New" id="new2" onkeyup="checkValid()">
                                <label id="unmatch-pass" class="label label-warning hidden">Password does not match</label>
                            </div>
                        </td>
                        <td><a href="javascript:void(0)" onclick="changePassword()" id="edit-password"><label><i class="icon-wrench"></i>
                            <span> change</span></label></a>
                    </td></tr>
                </table>
                <button type="button" onclick="updatePrivacy()" class="hidden" id="privacy-form-submit">Save Changes</button>
                <input type="hidden" name="submit" value="settings">
                </div>
                </div>
                </form>
            </div>
            <!--inbox div-->
            <div id="user-inbox" class="hidden">
                <div>
                    <h3>{{showUserIcon(user)}} {{user.username}}'s Messages</h3>
                </div>
            </div>
            <!--Help menu div-->
            <div id="user-help" class="hidden">
                <div id="selling-help" class="hidden">
                <h3>Ways to Sell your Books</h3>
                <h4>Consign <small>let ebenta sell your books!</small></h4>
                    <div class="alert alert-info" style="text-align:justify;width:420px;margin-left:30px;margin-top:10px">Consigning is placing any material in the hand of another, but retaining ownership until the goods are sold or person is transferred.</div>
                <div style="margin-left:35px;margin-right:20px">
                <b>How does this work?</b>
                    <p align="justify">Basically you let <font style="color:green">eBenta</font> sell your books for and in behalf of you. This is a good option for students who have no time, or students who doesn't want to get involved in any selling activity.</p>
                <b>What do I do?</b>
                    <p align="justify">First you need to send a <a href="/consign" target="blank">consign request</a> to <font style="color:green">eBenta</font> (this is a one time thing). We need to validate your identity and upgrade your account to a consignee. When this easy process is done, you may simply give us your item/s, and the right to sell it. We then find a decent buyer, sell the item in your behalf, and give you your profits.</p>
                <b>What you should consider.</b>
                    <p align="justify">Depending on the item you are selling, it may take some time before the item gets sold. If such case that you might want to withdraw your item from us, please give us <em>atleast</em> two days to return your item to you.</p>
                <b>Learn more...</b>
                    <p>To know more details on consigning your books to <font style="color:green">eBenta</font>, <a href="/help/consign">click here</a></p>
                </div>
                <h4>Post a Sell Order</h4>
                    <div class="alert alert-info" style="text-align:justify;width:420px;margin-left:30px;margin-top:10px">Another option for sellers to sell their items is by posting a Sell Order in ebenta classified. Potential buyers can search and view post, and eventually purchase items that are for sale.</div>
                <div style="margin-left:35px;margin-right:20px">
                <b>What do I do?</b>
                    <p align="justify">You simply start by searching your book in <font style="color:green">eBenta</font> Library (book database), then <a href="/sell">post a sell order</a> on that book. Once your sell order has been posted, this will be visible in <font style="color:green">eBenta</font> for 7 days. This means that other users or guests can view your posting thru the browse or search functions.
                    <span style="font-size:11px;"><br/>Note: since we are still starting out, all sell and buy orders would be visible for 1 Month.</span></p>
                <b>What you should consider.</b>
                    First your should remember that
                <b>Privacy Settings</b>
                    <p align="justify">User's default privacy settings is set to 'Admin Only', this means contact information of the user is ONLY visible to <font style="color:green">eBenta</font> admins. If this is the case, potential buyers could not directly contact you regarding your sell order. They could however send you a private message thru ebenta, which is really not the fastest way to communicate. Hence we suggest that you update your privacy settings in your profile.</p>
                <b>Learn more...</b>
                    <p>To know more details on Posting a Sell Order in <font style="color:green">eBenta</font>, <a href="/help/sell_order">click here</a></p>
                </div>
                </div>
                <div id="buying-help" class="hidden">
                    <h3>Buying Books in eBenta</h3>
                        <p>Buying books in ebenta is designed to be simple and hassle free. Below are the easy steps to purchase a used book.</p>
                    <div style="margin-left:35px;margin-right:20px">
                    <h4>Step One. <small>Search</small></h4>
                        <p align="justify">Look for the book that you would like to purchase using our <a href="/search">search</a> or <a href="/browse">browse</a> features. Once you find the book you are looking for, check if <font style="color:green">ebenta</font> has stocks on that book or if there are Sell Orders posted by other users. If the book you are looking for is NOT in <font style="color:green">ebenta</font> Library, or there are no stocks for that book, you might have to post a <a href="/buy">Buy Order</a>.</p>

                    <h4>Step Two. <small>Communicate</small></h4>
                        <p align="justify">Now that you have found a specific stock or sell order on the book you are interested in, it's time to <a href="/contact">contact</a> <font style="color:green">ebenta</font> or the seller. Simply send a message thru SMS, email, or <font style="color:green">ebenta</font> messaging to us or the seller, stating that you are interested in purchasing the item. 

                        Wait for a response, communicate, then agree on the terms of the transaction (i.e mode of payment, meetup location, etc.).</p>

                    <h4>Step Three. <small>Purchase and Receive</small></h4>
                        <p align="justify">We encourage buyers to pay for the book upon receiving it during meetups. This makes sure that the buyer has the option of not accepting the item, if he or she thinks that the actual condition of the item is not worth the cash. And also for the seller, he or she is assured that the item would be paid for.</p>

                    <h4>Step Four. <small>Feedback</small></h4>
                        <p align="justify">Once a transaction has been complete, please do send a feedback to the other user (if the transaction has been with another user, not <font style="color:green">ebenta</font>). Rating and feedbacks would be beneficial to both parties (buyer and seller) because this would increase the <a href="/help/trust">trust</a> level on both parties. To know more about ratings and feedbacks, <a href="/help/feedback">click here</a></p>
                    </div>
                </div>
            </div>
            {{showUserOrders(user)}}
            <span id="send-message"></span>
            <span id="li_send_message"></span>
            <span id="send-message-complete"></span>
        </div>
    </div>
{% endmacro %}

{% macro showProfileAsGuest(user) %}
    <div class="row">
    <div class="span3 well" style="padding:8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">User</li>
            <li class="active" id="li_profile"><a href="javascript:void(0)" onclick="showProfile()"><i class="icon-user"></i>Profile</a></li>
            <li class="nav-header"><font color="#468847">{{user.username}}</font>'s Book Orders</li>
            <li class id="li_sell_order"><a href="javascript:void(0)" onclick="showSellOrder()"><i class="icon-tags"></i>Sell Orders</a></li>
            <li class id="li_buy_order"><a href="javascript:void(0)" onclick="showBuyOrder()"><i class="icon-book"></i>Buy Orders</a></li>
            <li class="divider"></li>
            <li class id="li_send_message"><a href="javascript:void(0)" onclick="showSendMessage()"><i class="icon-envelope"></i>Send Message</a></li>
        </ul>
    </div>
    <div class="span7 well">
        <!--User profile div-->
        <div class="row" id="profile-info">
            <ul class="thumbnails span2">
                <li><div class="thumbnail" style="margin:0 15px;width:110px;height:">
                    <a class="thumbnail"><img src="/static/images/no_profile_pic.jpg" id="profile-pic"></a>
                </div></li>
            </ul>
            <div class="span5" style="padding:0 14px;" >
                <h3>{{showUserIcon(user)}} {{user.username}}'s Profile</h3>
                <table class="table table-condensed" style="margin-top:20px;">
                <tr><td>User</td><td>{{user.username}}</td><td></tr>
                <tr><td>Name</td><td>{{user.completeName().title()}}</td></tr>
                {% if user.privacy.showContact == 'guest'%}
                <tr><td>Email</td><td>{{user.email}}</td></tr>
                <tr><td>Contact No</td><td>{{user.contactNum}}</td></tr>
                {%endif%}
                {% if user.privacy.showCollege == 'guest'%}
                <tr><td>College</td><td>{{user.college}}</td></tr>
                <tr><td>Degree</td><td>{{user.degree}}</td></tr>
                {%endif%}
                </table>
            </div>
        </div>
        <!--send message to user-->
        <div id="send-message" class="hidden">
            <h3>Send <font color="#468847">{{user.username}}</font> a message</h3>
            <div class="span6" style="margin-top:10px;">
            <h4 style="margin-bottom:7px;">Your Message</h2>
            <form action="/user/sendmessage" method="post">
                <input type="text" id="title" placeholder="Title">
                <br/><textarea style="width:90%;height:100px;" placeholder="Your message here" id="text-message"></textarea>
                <h4 style="margin-bottom:7px;">Your Information <small><a href="/login">or LOGIN</a></small></h4>
                <input type="text" id="guest-name" placeholder="Your Name">
                <br/><input type="text" id="guest-email" placeholder="Your Email">
                <br/><input type="text" id="guest-contact" placeholder="Your Contact Number">
                <br/><button type="button" class="btn btn-success pull-right"style="margin-right:40px" onclick="sendMessage()">Send {{user.username}} the message</button>
                <input type="hidden" id="to" value="{{user.username}}">
                <input type="hidden" id="logged_in" value="False">
            <form>
            </div>
        </div>
        <div id="send-message-complete" class="hidden">
            Your Message has been sent to <font color="#468847">{{user.username}}</font>
        </div>
        <div id="send-message-loading" class="hidden">
            Sending message to <font color="#468847">{{user.username}}</font>...
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div></div>
        </div>    
        {{showUserOrders(user)}}
        <span id="li_settings"></span>
        <span id="privacy-settings"></span>
        <span id="user-help"></span>
        <span id="li_settings"></span>
        <span id="li_inbox"></span>
        <span id="user-inbox"></span>
        <span id="settings-updated"></span>
        <span id="settings-not-updated"></span>
        <span id="help-options"></span>
    </div>
    </div>
{% endmacro %}

{% macro showProfileAsUser(user,me) %}
    <div class="row">
    <div class="span3 well" style="padding:8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">User</li>
            <li class="active" id="li_profile"><a href="javascript:void(0)" onclick="showProfile()"><i class="icon-user"></i>Profile</a></li>
            <li class="nav-header"><font color="#468847">{{showUserIcon(user)}} {{user.username}}</font>'s Book Orders</li>
            <li class id="li_sell_order"><a href="javascript:void(0)" onclick="showSellOrder()"><i class="icon-tags"></i>Sell Orders</a></li>
            <li class id="li_buy_order"><a href="javascript:void(0)" onclick="showBuyOrder()"><i class="icon-book"></i>Buy Orders</a></li>
            <li class="divider"></li>
            <li class id="li_send_message"><a href="javascript:void(0)" onclick="showSendMessage()"><i class="icon-envelope"></i>Send Message</a></li>
        </ul>
    </div>
    <div class="span7 well">
        <!--User profile div-->
        <div class="row" id="profile-info">
            <ul class="thumbnails span2">
                <li><div class="thumbnail" style="margin:0 15px;width:110px;height:">
                    <a class="thumbnail"><img src="/static/images/no_profile_pic.jpg" id="profile-pic"></a>
                </div></li>
            </ul>
            <div class="span5" style="padding:0 14px;" >
                <h3>{{showUserIcon(user)}} {{user.username}}'s Profile</h3>
                <table class="table table-condensed" style="margin-top:20px;">
                <tr><td>User</td><td>{{user.username}}</td><td></tr>
                <tr><td>Name</td><td>{{user.completeName().title()}}</td></tr>
                {% if user.privacy.showContact in ['user','guest'] or me.admin%}
                <tr><td>Email</td><td>{{user.email}}</td></tr>
                <tr><td>Contact No</td><td>{{user.contactNum}}</td></tr>
                {%endif%}
                {% if user.privacy.showCollege in ['user','guest'] or me.admin%}
                <tr><td>College</td><td>{{user.college}}</td></tr>
                <tr><td>Degree</td><td>{{user.degree}}</td></tr>
                {%endif%}
                </table>
            </div>
        </div>
        <div id="send-message" class="hidden">
            <h3>Send <font color="#468847">{{user.username}}</font> a message</h3>
            <div class="span6" style="margin-top:10px;">
            <h4 style="margin-bottom:7px;">Your Message</h2>
            <form action="<action>" method="post">
                <input type="text" id="title" placeholder="Title">
                <br/><textarea style="width:90%;height:100px;" placeholder="Your message here" id="text-message"></textarea>
                <br/><button type="button" class="btn btn-success pull-right"style="margin-right:40px"onclick="sendMessage()">Send {{user.username}} the message</button>
                <input type="hidden" id="from" value="{{me.username}}">
                <input type="hidden" id="to" value="{{user.username}}">
                <input type="hidden" id="logged_in" value="True">
            <form>
            </div>
        </div>
        <div id="send-message-complete" class="hidden">
            Your Message has been sent to <font color="#468847">{{showUserIcon(user)}}{{user.username}}</font>
        </div>
        <div id="send-message-loading" class="hidden">
            Sending message to <font color="#468847">{{user.username}}</font>
            <div class="progress progress-striped active" style="margin-top:10px;">
                <div class="bar" style="width: 100%;"></div></div>
        </div>
        {{showUserOrders(user)}}
        <span id="li_settings"></span>
        <span id="privacy-settings"></span>
        <span id="user-help"></span>
        <span id="li_settings"></span>
        <span id="li_inbox"></span>
        <span id="user-inbox"></span>
        <span id="settings-updated"></span>
        <span id="settings-not-updated"></span>
        <span id="help-options"></span>
    </div>
    </div>
{% endmacro%}

{% macro showMyNav() %}
    <div class="span3 well" style="padding:8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">User</li>

            <li class="active" id="li_profile"><a href="javascript:void(0)" onclick="showProfile()"><i class="icon-user"></i> Profile</a></li>
            <li class id="li_inbox"><a href="javascript:void(0)" onclick="showInbox()"><i class="icon-envelope"></i> Inbox</a></li>
            <li class id="li_settings"><a href="javascript:void(0)" onclick="showSettings()"><i class="icon-cog"></i> Settings</a></li>
            <li class="nav-header">Book Orders</li>
            <li class id="li_sell_order"><a href="javascript:void(0)" onclick="showSellOrder()"><i class="icon-tags"></i> Sell Orders</a></li>
            <li class id="li_buy_order"><a href="javascript:void(0)" onclick="showBuyOrder()"><i class="icon-book"></i> Buy Orders</a></li>
            <li class="divider"></li>
            <li class id="li_help"><a href="javascript:void(0)" onclick="showUserHelp()"><i class="icon-flag"></i> Help</a></li>
            <ul class="hidden" style="margin-left:10px;" id="help-options">
                <li id="li_help-sell"><a href="javascript:void(0)" onclick="showHelp('selling')">Selling</a></li>
                <li id="li_help-buy"><a href="javascript:void(0)" onclick="showHelp('buying')">Buying</a></li>
                <li><a href="javascript:void(0)"></a></li>
            </ul>
        </ul>
    </div>
{% endmacro%}

{% macro showUserOrders(user)%}
    <!--user's sell orders div-->
    <div id="user-sell-orders" class="hidden">
        <div><h3>{{showUserIcon(user)}} {{user.username}} is selling...</h3>
            <div id="sell-loading" class="hidden" style="margin-top:20px;font-size:17px;">
                <img src="/static/images/loading.gif"> Loading</div>
                <div id="sell-result"></div>
        </div>
        <input type="hidden" id="sell-loaded" value="false">
    </div>
    <!--user's buy orders div-->
    <div id="user-buy-orders" class="hidden">
        <div><h3>{{showUserIcon(user)}} {{user.username}} is looking for...</h3>
            <div id="buy-loading" class="hidden" style="margin-top:20px;font-size:17px;">
                <img src="/static/images/loading.gif"> Loading</div>
                <div id="buy-result"></div>
        </div>
        <input type="hidden" id="buy-loaded" value="false">
    </div>
    <input type="hidden" id="user_username" value="{{user.username}}"/>
{% endmacro %}

{% macro userDoesNotExist() %}
    <center>
        <div class="alert alert-error" style="width:300px"><h3>User does not exist!</h3></div>
    </center>
{% endmacro %}

{% macro whoCanView(privacy)%}
    {% if privacy == 'admin' %}Admin Only{%elif privacy == 'user'%}Users only{%else%}Everyone{%endif%}
{% endmacro %}

{% macro showUserIcon(user) %}{% if user.admin: %}<img src="/static/images/admin1.png" class="admin-icon" title="Admin">{% elif user.consignee%}<img src="/static/images/handshake.ico" class="admin-icon" title="Consignee">{% endif %}{% endmacro %}