{% extends "base.html" %}
{% import "macros.html" as macro %}

{% block login %}
    {% if me: %}
        {{ macro.top_welcome(me) }}
    {% else: %}
        {{macro.top_login()}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if fail: %}{{userDoesNotExist()}}
    {% elif user : %}
        {% if msg:%}
            {{msg}}
        {% elif passErr: %}
            {{passErr}}
        {% endif %}
        {{showProfile(user)}}
    {% endif %}
{% endblock %}

{% block script_src %}<script src="/static/js/custom/profile.js"></script>{% endblock%}

{% macro showProfile(user) %}
    <div class="row">
        {{showNav()}}
        <div class="span7 well">
            <div class="hidden" id="settings-updated" style="width:190px;margin:5px auto;">
                <button class="close" data-dismiss="alert">x</button>
                <label id="req-ok"></label>
            </div>
            <div class="hidden" id="settings-not-updated" style="width:190px;margin:5px auto;">
                <button class="close" data-dismiss="alert">x</button>
                <label id="req-error"></label>
            </div>
            <!--User profile div-->
            <div id="profile-info" class="row" >
                <ul class="thumbnails span2">
                    <li><div class="thumbnail" style="margin:0 15px;width:110px;height:">
                        <a class="thumbnail"><img src="{{user.getImage()}}" id="profile-pic"></a>
                    </div></li>
                </ul>
                <div class="span5" style="padding:0 14px;">
                    <h3>{{user.username}}'s Profile</h3>
                    <table class="table table-condensed" style="margin-top:20px;">
                    <tr><td>Username</td>
                        <td style="width:180px;">{{user.username}}</td><td></tr>
                    <tr><td>Name</td>
                        <td><span id="user-name">{{user.completeName().title()}}</span></td></tr>
                    <tr><td>Contact No</td>
                        <td><span id="user-num">{{user.contactNum}}</span></td></tr>
                    <tr><td>Email</td>
                        <td><span id="user-email">{{user.email}}</span></td></tr>        
                    <tr><td>College</td>
                        <td><span id="user-college">{{user.college}}</span></td></tr>
                    <tr><td>Degree</td>
                        <td><span id="user-degree">{{user.degree}}</span></td></tr>
                    <tr><td>Dormitory</td>
                        <td><span id="user-dormitory">{{user.dormitory}}</span></td></tr>
                    <tr><td style="width:125px">Member Since</td>
                        <td>{{user.joined}}</td><td></tr>
                    </table>
                </div>
            </div>
            {{showUserTransactions(user)}}
            <input type="hidden" value="{{user.username}}" id="username">
        </div>
    </div>
{% endmacro %}

{% macro showNav() %}
    <div class="span3 well" style="padding:8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">User</li>
            <li class="active" id="li_profile"><a href="#profile" onclick="showProfile()"><i class="icon-user"></i> Profile</a></li>
            <li class="nav-header">Book Orders</li>
            <li class id="li_consigned"><a href="#sell_orders" onclick="showConsigned()"><i class="icon-tags"></i> Consigned</a></li>
            <li class id="li_requests"><a href="#buy_orders" onclick="showRequest()"><i class="icon-book"></i> Requested</a></li>
        </ul>
    </div>
{% endmacro%}

{% macro showUserTransactions(user)%}
    <div id="user-consigned" class="hidden">
        <div><h3>{{user.username}}</h3>
            <div id="consign-loading" class="hidden" style="margin-top:20px;font-size:17px;">
                <img src="/static/images/loading.gif"> Loading</div>
                <h3>Consigning</h3>
                <div id="consign-result"></div>
                <br/>
                <h3>Requesting to Consign</h3>
                <div id="request-consign-result"></div>
        </div>
    </div>
    <!--user's buy orders div-->
    <div id="user-request" class="hidden">
        <div><h3>{{user.username}} is requesting...</h3>
            <div id="request-loading" class="hidden" style="margin-top:20px;font-size:17px;">
                <img src="/static/images/loading.gif"> Loading</div>
                <div id="request-result"></div>
        </div>
    </div>
{% endmacro %}

{% macro userDoesNotExist() %}
    <center>
        <div class="alert alert-error" style="width:300px"><h3>User does not exist!</h3></div>
    </center>
{% endmacro %}

