{% extends "home_base.html"%}

{% block login %}
    {% if user: %}
        {{ macro.top_welcome(user) }}
    {% else: %}
        {{ macro.top_login() }}
    {% endif %}
{% endblock %}
{% block left_content%}
    <div  class="span5" style="margin-left:50px">
        <h2>Request completed</h2>
        <span style="font-size:15px;">We have received your request and will contact you thru SMS (or email, but most likely SMS) as soon as possible. If you have any other concerns, you may contact us at admin@ebenta.com.ph.</span>

    </div>
{% endblock %}

{% block right_content%}
    
{% endblock %}
