{% extends "base.html" %}
{% import "macros.html" as macro %}

{% block login %}
    {{ macro.top_welcome(user) }}
{% endblock%}
{% block script_src %}{%if user.admin%}<script src="/static/js/custom/aids.js"></script>{%else%}<script src="/static/js/custom/home.js"></script>{%endif%}{%endblock%}
{% block jscript%}$(window).ready(checkUrl());{% endblock%}
{% block content%}
<div class="row">
    {{showHomeNav()}}
    <div class="span7 well">
        <div class="hidden" id="settings-updated" style="width:190px;margin:5px auto;">
                <button class="close" data-dismiss="alert">x</button>
                <label id="req-ok"></label>
            </div>
        <div id="home" class="row">
            <center><img src="/static/images/transparent.png" style="width:85%;"></center>
            <div id="home-blog" style=";margin-top:30px;" class="span7">
                <legend>Updates</legend>
                <div>
                {%if not news%}
                <h4>No Updates Available</h4>
                {%endif%}
                {%for article in news: %}
                <div class="span6" style="margin-bottom:20px">
                    <h3>{{article.title}}</h3>
                    <div>
                        {{article.content}}
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div id="search" class="row" style="display:none">
            {{macro.ebentaSearch()}}
        </div>
        <!--user's profile tab-->
        <div id="userprofile" class="row" style="display:none">
            <ul class="thumbnails span2">
                <li><div class="thumbnail" style="margin:0 15px;width:110px;height:">
                    <a class="thumbnail"><img src="{{user.getImage()}}" id="profile-pic"></a>
                </div></li>
            </ul>
                <div class="span5" style="padding:0 14px;">
                    <form action="/user/update" method="post">
                    <h3>{{showUserIcon(user)}} {{user.username}}'s Profile</h3>
                    <table class="table table-condensed" style="margin-top:20px;">
                    <tr><td>Username</td>
                        <td style="width:180px;">{{user.username}}</td><td></tr>
                    <tr><td>Name</td>
                        <td>
                            <div id="form-name" class="hidden">
                                <input type="text" class="input-medium" placeholder="First Name" name="first" id="name-first" value="{{user.firstName.title()}}" onchange="change('name')">
                                <input type="text" class="input-medium" placeholder="Last Name" name="last" id="name-last" value="{{user.lastName.title()}}" onchange="change('name')">
                            </div>
                            <span id="user-name">{{user.completeName().title()}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeName()" id="href-name"><i class="icon-wrench"></i>
                            <span id="edit-name"> edit</span></a>
                        </td></tr>
                    <tr><td>Contact No</td>
                        <td><div id="form-num" class="hidden">
                            <input type="text" class="input-medium" placeholder="Contact Number" name="contact" id="input-num" value="{{user.contactNum}}" onchange="change('num')"></div>
                            <span id="user-num">{{user.contactNum}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeNum()" id="href-num"><i class="icon-wrench"></i>
                                <span id="edit-num"> edit</span></a>
                        </td></tr>
                    <tr><td>Email</td>
                        <td><div id="form-email" class="hidden">
                                <input type="text" class="input-medium" placeholder="Email" name="email" id="input-email" value="{{user.email}}" onchange="change('email')">
                            </div>
                            <span id="user-email">{{user.email}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeEmail()" id="href-email"><i class="icon-wrench"></i>
                            <span id="edit-email"> edit</span></a>
                        </td></tr>        
                    <tr><td>College</td>
                        <td><div id="form-college" class="hidden">
                                <input type="text" class="input-medium" placeholder="College" name="college" id="input-college" value="{{user.college}}" onchange="change('college')">
                            </div>
                            <span id="user-college">{{user.college}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeCollege()" id="href-college"><label><i class="icon-wrench"></i>
                            <span id="edit-college"> edit</span></label></a>
                        </td></tr>
                    <tr><td>Degree</td>
                        <td><div id="form-degree" class="hidden">
                                <input type="text" class="input-medium" placeholder="Degree Course" name="degree" id="input-degree" value="{{user.degree}}" onchange="change('degree')">
                            </div>
                            <span id="user-degree">{{user.degree}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeDegree()" id="href-degree"><label><i class="icon-wrench"></i>
                            <span id="edit-degree"> edit</span></label></a>
                        </td></tr>
                    <tr><td>Dormitory</td>
                        <td><div id="form-dormitory" class="hidden">
                                <select name="dormitory" class="input-medium" id="input-dormitory" onchange="change('dormitory')">
                                    <option value="None"{%if user.dormitory=="None"%}selected{%endif%}>None</option>
                                    <option value="Centennial"{%if user.dormitory=="Centennial"%}selected{%endif%}>Centennial</option>
                                    <option value="International Center"{%if user.dormitory=="International Center"%}selected{%endif%}>International Center</option>
                                    <option value="Ilang-ilang"{%if user.dormitory=="Ilang-ilang"%}selected{%endif%}>Ilang-ilang</option>
                                    <option value="Ipil"{%if user.dormitory=="Ipil"%}selected{%endif%}>Ipil</option>
                                    <option value="Kalayaan"{%if user.dormitory=="Kalayaan"%}selected{%endif%}>Kalayaan</option>
                                    <option value="Kamagong"{%if user.dormitory=="Kamagong"%}selected{%endif%}>Kamagong</option>
                                    <option value="Kamia"{%if user.dormitory=="Kamia"%}selected{%endif%}>Kamia</option>
                                    <option value="Molave"{%if user.dormitory=="Molave"%}selected{%endif%}>Molave</option>
                                    <option value="Sampaguita"{%if user.dormitory=="Sampaguita"%}selected{%endif%}>Sampaguita</option>
                                    <option value="Sanggumay"{%if user.dormitory=="Sanggumay"%}selected{%endif%}>Sanggumay</option>
                                    <option value="Yakal"{%if user.dormitory=="Yakal"%}selected{%endif%}>Yakal</option> 
                                </select>
                            </div>
                            <span id="user-dormitory">{{user.dormitory}}</span></td>
                        <td><a href="javascript:void(0)" onclick="changeDormitory()" id="href-dormitory"><label><i class="icon-wrench"></i>
                            <span id="edit-dormitory"> edit</span></label></a>
                        </td></tr>
                    <tr><td style="width:125px">Member Since</td>
                        <td>{{user.joined}}</td><td></tr>
                    </table>
                    <button type="button" class="btn btn-success pull-right hidden" id="update-profile-submit" onclick="updateProfile()">Update Profile</button>
                    <input type="hidden" id="change-name" value="False">
                    <input type="hidden" id="change-num" value="False">
                    <input type="hidden" id="change-email" value="False">
                    <input type="hidden" id="change-college" value="False">
                    <input type="hidden" id="change-degree" value="False">
                    <input type="hidden" id="change-dormitory" value="False">
                    </form>
                </div>
            </div>
            <!--settings tab-->
            <div id="setting" style="display:none">
                <form action="/user/update" method="post">
                <div><h3>Security</h3>
                <div class="span6">
                <table class="table table-condensed span5" style="margin-top:20px;">
                    <tr><td style="width:170px;">Password</td>
                        <td style="width:165px;">
                            <div id="form-change-password" class="hidden">
                                <input type="password" class="input-medium" placeholder="Old Password" id="old">
                                <input type="password" class="input-medium" placeholder="New Password" id="new">
                                <input type="password" class="input-medium" placeholder="Re-type New" id="new2" onkeyup="checkValid()">
                                <label id="unmatch-pass" class="label label-warning hidden">Password does not match</label>
                            </div>
                        </td>
                        <td><a href="javascript:void(0)" onclick="changePassword()" id="edit-password"><label><i class="icon-wrench"></i>
                            <span> change</span></label></a>
                    </td></tr>
                </table>
                <button type="button" onclick="updatePrivacy()" class="hidden" id="privacy-form-submit">Save Changes</button>
                <input type="hidden" name="submit" value="settings">
                </div>
                </div>
                </form>
            </div>
            <!--book consigned-->
            <div id="consign" style="display:none">
                <div><h3>Your Consigned Items</h3>
                    <div id="consign-loading" style="margin-top:20px;font-size:17px;display:none">
                        <img src="/static/images/loading.gif"> Loading</div>
                    <div id="consign-response" style="margin-top:20px;font-size:17px;display:none">
                    </div>
                    <div id="consign-result" class="span5" style="margin-top:25px"></div>
                </div>
                <input type="hidden" id="sell-loaded" value="false">
            </div>
            <!--user's buy orders div-->
            <div id="request" style="display:none">
                <div><h3>Your Requested Items</h3>
                    <div id="request-loading" style="margin-top:20px;font-size:17px;display:none">
                        <img src="/static/images/loading.gif"> Loading</div>
                    <div id="request-response" style="margin-top:20px;font-size:17px;display:none">
                    </div>
                    <div id="request-result"></div>
                </div>
                <input type="hidden" id="buy-loaded" value="false">
            </div>
            <input type="hidden" id="user_username" value="{{user.username}}"/>
            {%if user.admin%}{{adminDivs()}}{%endif%}
    </div>
</div>
{% endblock%}

{% macro showHomeNav()%}
    <div class="span3 well" style="padding:8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">Dashboard</li>
            <li class="active" id="li_home"><a href="#" onclick="showUserHome() "><i class="icon-home"></i> Home</a></li>
            <li class="" id="li_search"><a href="#query" onclick="showSearch() "><i class="icon-search"></i> Search</a></li>
            <li class="" id="li_userprofile"><a href="#profile" onclick="showProfile()"><i class="icon-user"></i> Profile</a></li>{%if user.admin%}{{showAdminTab()}}{%endif%}
            <li class="" id="li_setting"><a href="#settings" onclick="showSettings()"><i class="icon-cog"></i> Settings</a></li>
            <li class="nav-header">Book Orders</li>
            <li class id="li_consign"><a href="#myconsign" onclick="showConsigned()"><i class="icon-tags"></i> Consigned</a></li>
            <li class id="li_request"><a href="#myrequest" onclick="showRequested()"><i class="icon-book"></i> Requested</a></li>
            <!--<li class="divider"></li>
            <li class id="li_help"><a href="#help" onclick="showUserHelp()"><i class="icon-flag"></i> Help</a></li>
            <ul class="hidden" style="margin-left:10px;" id="help-options">
                <li id="li_help-consign"><a href="#help_consign" onclick="showHelp('consign')">Selling</a></li>
                <li id="li_help-buy"><a href="#help_buying" onclick="showHelp('buying')">Buying</a></li>
                <li><a href="javascript:void(0)"></a></li>
            </ul>-->
        </ul>
    </div>
{% endmacro %}
{% macro showAdminTab()%}
<li class="" id="li_aids">
<a href="#admin" onclick="showAdmin()"><i class="icon-eye-open"></i> Admin</a></li>
<ul id="uladmin" class="hidden">
    <li><a href="#post" onclick="showNewBlog()">Blog Post</a></li>
    <li><a href="#newitem" onclick="showNewItem()">New Item</a></li>
    <li><a href="#addbook" onclick="showAddBook()">Add Book to Library</a></li>
    <li><a href="#update" onclick="showUpdateRequest()">Update Request</a></li>
    <li><a href="#view" onclick="showViewUser()">View User Profile</a></li>
</ul>

{% endmacro %}
{%macro adminDivs()%}
<div id="admin-blog-post" style="display:none">
    <form action="/admin/blogpost" method="post" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls"><input type="text" name="title"></div>
        </div>
         <div class="control-group">
            <label class="control-label" for="content">Content</label>
            <div class="controls">
                <textarea name="content" rows="7"></textarea>
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Post" style="margin-left:330px">
    </form>
</div>
<div id="admin-new-item" style="display:none">
    <form action="/admin/newitem" method="post" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="bid">Book ID</label>
            <div class="controls">
                <input type="text" name="bid" placeholder="Book ID">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="user">Consignee</label>
            <div class="controls">
                <input type="text" name="consignee" placeholder="Consignee's Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="rating">Rating</label>
            <div class="controls">
                <input type="text" name="rating" placeholder="Rating 1-5">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ask_price">Ask Price</label>
            <div class="controls">
                <input type="text" name="ask_price" placeholder="Consignee's ask price">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sell_price">Selling Price</label>
            <div class="controls">
                <input type="text" name="sell_price" placeholder="Price to be posted">
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Add New Item" style="margin-left:275px">
    </form>
</div>
<div id="admin-update-request" style="display:none">
    <form action="/admin/update" method="post" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="req_id">Request ID</label>
            <div class="controls">
                <input type="text" name="req_id" placeholder="Request ID">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="status">Status</label>
            <div class="controls">
                <select name="status">
                    <option value="pending">Pending Action</option>
                    <option value="processing">Processing Request</option>
                    <option value="tbd">To be delivered</option>
                    <option value="delivered">Delivered</option>
                    <option value="completed">Completed</option>
                </select>
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Update" style="margin-left:275px">
    </form>
</div>
<div id="admin-add-book-lib" style="display:none">
    <form action="/admin/addbook" method="post" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" name="title" placeholder="Title">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="author">Author</label>
            <div class="controls">
                <input type="text" name="author" placeholder="Author">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="isbn">ISBN</label>
            <div class="controls">
                <input type="text" name="isbn" placeholder="ISBN(optional)">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="desc">Description</label>
            <div class="controls">
                <input type="text" name="desc" placeholder="Description(optional)">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="brandprice">Brand New Price</label>
            <div class="controls">
                <input type="text" name="brandprice" placeholder="Brand New Price">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sk">Search Keys</label>
            <div class="controls">
                <input type="text" name="sk" placeholder="Search keys (space separated)">
            </div>
        </div>
        <input type="hidden" name="addbook" value="ok">
        <input type="submit" class="btn btn-success" value="Update" style="margin-left:320px">
    </form>
</div>
<div id="admin-view-user" style="display:none">
    Feature to be added.
</div>
{%endmacro%}
{% macro showUserIcon(user) %}{% if user.admin: %}<img src="/static/images/admin1.png" class="admin-icon" title="Admin">{% elif user.consignee%}<img src="/static/images/handshake.ico" class="admin-icon" title="Consignee">{% endif %}{% endmacro %}